%section#about
	.about-images.hide-on-responsive
		.image
			#image-about-1
			#image-about-2
		.image
			#image-about-3
			#image-about-4

	.box-text
		.title-section
			%a
				Cálido
				%br
				e Inigualable

		.text-section
			Bajo un exclusivo, moderno y vanguardista concepto, Convención Hotel Boutique, es el primer hotel boutique de la ciudad con la identidad propia e innovadores elementos de valor agregado, contamos con una edificación de 2600 metros de construcción donde les ofrecemos 114 habitaciones con diseño actual totalmente equipadas. Ademas contamos con

			%br/
			%br/
			%span -
			Red de seguridad integrada
			%br/
			%span -
			Estacionamiento privado
			%br/
			%span -
			Room service
			%br/
			%span -
			Restaurante gourmet
			%br/
			%span -
			Resto bar
			%br/
			%span -
			Cuatro salones de conferencias
			%br/
			%span -
			Salón de usos multiples
			%br/
			%span -
			Gimnasio exclusivo
			%br/
			%span -
			Galeria de arte permanente
			%br/
			%span -
			Tienda de artesanía y conveniencias

			%li
				= link_to "https://www.tripadvisor.com.ve/Hotel_Review-g316050-d7710858-Reviews-Convencion_Hotel_Boutique-Merida_Andean_Region.html" do
					ESCRIBE UNA OPINIÓN



	.about-images.show-on-responsive
		.image
			#image-about-1
			#image-about-2
		.image
			#image-about-3
			#image-about-4

