%section#contacts
	.events
		%p{style: "margin-bottom: 0px;"} "Contamos con 4 salones de conferencias
		%p{style: "margin-bottom: 0px;"} y un salón de usos multiples para tu
		%p evento de negocio"

		%li
			= link_to new_event_path do
				PLANIFICAR EVENTO
	.banner-events
