%section#home
	.background-home.hidden-lg.hidden-md
	.video.hidden-xs.hidden-sm
		= video_tag "video.mp4", autoplay: true, loop: true, muted: true
	.home-container

		- if flash[:notice]
			.container
				.alert.alert-success
					%center{"data-dismiss"=>"alert", "aria-hidden"=>"true"}
						= "<strong>#{flash[:notice]}</strong>".html_safe

		.home-carousel.hidden-lg.hidden-md
			.home-text
				"Un hotel ideal para negocios y placer"
			.home-text
				"Cálido e inigualable"

		.form-container
			.reservation-box
				= form_tag({controller: "reservations", action: "new"}, method: "get") do
					.row{style: "margin: 0; padding: 0;"}
						.col-lg-4.col-md-4.col-sm-4.col-xs-6{style: "margin: 0; padding: 0;"}
							.input-about
								%i.fa.fa-calendar
								= text_field_tag :checkin, nil, :placeholder => "Check-in", class: "datepicker"
						.col-lg-4.col-md-4.col-sm-4.col-xs-6{style: "margin: 0; padding: 0;"}
							.input-about
								%i.fa.fa-calendar
								= text_field_tag :checkout, nil, :placeholder => "Check-out", class: "datepicker"
						.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-btn
							%button.btn-reservation
								RESERVAR

:javascript
	$('.home-carousel').slick({
		infinite: true,
		autoplay: true,
		autoplaySpeed: 5000,
		arrows: false,
		pauseOnHover: false
	});