%section#rooms

	.box-text
		.title-section
			%a Para clientes que buscan confort y buen gusto

		.text-section
			%p
				Convención Hotel Boutique ofrece en cada una de sus habitaciones un estilo sencillo, fresco y cálido; con acogedores colores, cumplen con el diseño actual y las normas de comodidad esperadas; Comodidad, confort y calidad son nuestras principales características.
			%p
				Ofrecemos 114 habitaciones con diseño actual totalmente equipadas, distribuidas en Sencillas, Estándar, Dobles, Suites Deluxe, Suite Junior y Suite Presidencial.

			%p{style: "font-weight: 900;margin-bottom: 0px; margin-top: 20px;"}
				Entrada: 03:00 P.M, Check out: 01:00 P.M
			%p{style: "font-weight: 900;margin-bottom: 0px;"}
				Internet de alta velocidad Wi-Fi en todas las habitaciones
			%p{style: "font-weight: 900;margin-bottom: 0px;"}
				Televisión plasma de 32'' con Directv
			%p{style: "font-weight: 900;margin-bottom: 20px;"}
				Desayunos disponibles desde las 6:30 A.M a 10:00 A.M
			%p{style: "font-weight: 900;margin-bottom: 0px;"}
				(+58 414) 702 3988 / (+58 274 ) 240 5311
			%p{style: "font-weight: 900;margin-bottom: 40px;"}
				reservas@convencionhb.com

			%li
				= link_to new_reservation_path do
					RESERVAR

	.rooms-gallery
		- @rooms.each_with_index do |room, x|
			.col-room{id: "col-room-#{x+1}", style: "background-image: url(#{room.cover});"}
				.mask-rooms{id: "room-#{x+1}"}
					.content-room
						= room.name
						%br
						%li
							= link_to "/habitaciones/#{room.permalink}" do
								VER MÁS