%section#restaurants{style: "padding-top: 80px;"}
	.encuentro-images
		.image
			#image-encuentro-1
			#image-encuentro-2
		.image
			#image-encuentro-3
			#image-encuentro-4

	.box-text
		.title-section
			%a Restaurant 
			%br
			%a El Encuentro

		.text-section
			%p
				Ubicado en el lobby del espectacular CONVENCIÓN HOTEL BOUTIQUE, el RESTAURANT EL ENCUENTRO, es un sitio donde el cliente podrá disfrutar de un trato exquisito y una cocina mediterránea-fusión de excelente calidad. 
			%p
				Nuestro restaurante está abierto para todo tipo de público: huéspedes, agencias de turismo, particulares, empresas, entidades públicas, etc. Nuestro único objetivo es que todos nuestros comensales se encuentren como en casa y disfruten de nuestro espacio y cálida atención. 
			%p
				Otro de nuestros servicios es el Catering, En El Encuentro Restaurant, llevamos muchos años especializados en la realización de eventos tanto para particulares como para empresas. Con diversas propuestas, desde aperitivos estándar con un precio por persona ajustado, hasta propuestas más especiales con productos más elaborados. Nuestro servicio de catering, lunch y aperitivos está especializado en la preparación de los mejores productos. Los preparamos para almuerzos corporativos, inauguraciones, conferencias, reuniones, bautizos, comuniones, bodas y cenas en casa.
			%p
				Con mucho gusto le atenderemos de Lunes a Domingo desde las 7AM hasta las 10PM.

			= image_tag 'frontend/Landing/logo_encuentro.png', id: "encuentro"

	.lesGolfes-images.show-on-responsive
		.image
			#image-lesGolfes-1
			#image-lesGolfes-2
		.image
			#image-lesGolfes-3
			#image-lesGolfes-4

%section#restaurants
	.box-text
		.title-section
			%a Les Golfes 
			%br
			%a de Salioli

		.text-section
			%p
				Les Golfes de Salioli se reconoce por ser Más que un GastroBar, una cita obligada, por su condición el diseño de interiores, la terraza con una increible vista de 360º a los picos, el mimo con que se presentan y por supuesto su excepcional cocina mediterránea, presentada en una amplia varieadad de TAPEO como también en su carta apoyada en el comercio de proximidad, el Km0, el Slow food...sabemos hacer magia con productos locales. Los cockteles, y combinados, nos acompañan las puestas de sol con la música seleccionada para la ocasión.
			%p
				Pueden seguirnos en instagram 
				%span= link_to "@sal_i_oli", "https://www.instagram.com/sal_i_oli/"   
				, facebook 
				%span= link_to "/salioli salioli", "https://www.facebook.com/Salioli-Salioli-622135841257645"
				, twitter  
				%span= link_to "@grupsalioli" , "https://twitter.com/grupsalioli"
				y contactarnos en  
				%span= link_to "www.salioli.net" , "https://www.salioli.net"
				0414.0816861
			%p
				Los esperamos de lunes a jueves de 7AM a 10PM y de viernes a sábado de 7AM a 12PM

			= image_tag 'frontend/Landing/logo_lesGolfes.jpg', id: "lesGolfes"

	.lesGolfes-images.hide-on-responsive
		.image
			#image-lesGolfes-1
			#image-lesGolfes-2
		.image
			#image-lesGolfes-3
			#image-lesGolfes-4
