.banner#banner-room

.room-container
	.room-info
		.room-gallery
			.room-carousel
				- unless @room.cover.url.nil?
					.room-img
						= image_tag @room.cover
				- @room.images.each do |image|
					.room-img
						= image_tag image.img
		.room-details
			.room-name
				%a= @room.name
			.room-description
				= @room.description.html_safe if @room.description
			.roomPrice
				= "#{@room.price} bs."

			%li
				= link_to new_reservation_path do
					RESERVAR

.other-rooms
	.more.btn.btn-default{"data-target" => ".rooms-collapse", "data-toggle" => "collapse", :type => "button"}
		%a
			Mostrar más habitaciones
	.collapse.rooms-collapse
		.other-rooms-carousel
			- @rooms.each_with_index do |room, x|
				- unless room.name == @room.name
					.col-room{id: "col-room-#{x+1}", style: "background-image: url(#{room.cover});"}
						.mask-rooms{id: "room-#{x+1}"}
							.content-room
								= room.name
								%br
								%li
									= link_to "/habitaciones/#{room.permalink}" do
										VER
