.listing-show-header
	.actions
		- if can? :update, Event
			= link_to edit_event_path(@event), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @event.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @event.client.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @event.client.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.telephone")
			.display-value= @event.client.telephone
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.quantity")
			.display-value= "#{@event.quantity} Personas"
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.event_type")
			.display-value= @event.event_type.humanize
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.begin_date")
			.display-value= @event.begin_date
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.end_date")
			.display-value= @event.end_date
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.assembly_type")
			.display-value= @event.assembly_type
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
