.listing-show-header
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripcion del modulo
		%p{align: "justify"} Aquí podrá gestionar todos las reservaciones solicitadas mediante la web. Ofrece opciones para visualizar y eliminar  las solicitudes.