.banner#banner-reserva

#form-reservation

  - unless @reservation.errors[:base].empty?
    %div.alert.alert-danger.form-alert{ onclick: "hideFormAlert();" }
      %div
        Para continuar debe llenar correctamente el formulario.
        - @reservation.errors[:base].each_with_index do |e,i|
          - if i <= 4
            %p{style: 'margin-bottom: 0;'}= "- #{e}"

  = simple_form_for @reservation, url: new_reservation_path  do |f|
    .title-form
      %a Datos personales
    = f.simple_fields_for :client do |c|
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .field
          = c.input :name, label: false, :placeholder=> "Nombre y Apellido (Requerido)"
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .field
          = c.input :documentation, label: false, :placeholder=> "Cédula/RIF (Requerido)"
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .field
          = c.input :email, label: false, :placeholder=> "Correo electrónico"
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .field
          = c.input :telephone, label: false, :placeholder=> "Teléfono"

    .title-form
      %a Datos de reservación

    .row
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        .col-lg-12.col-md-12.col-sm-4.col-xs-4
          = f.input :adults, label: false, placeholder: "N° Adultos", input_html: { min: 0 }
        .col-lg-6.col-md-6.col-sm-4.col-xs-4
          = f.input :kids, label: false, placeholder: "N° Niños", input_html: { min: 0 }
        .col-lg-6.col-md-6.col-sm-4.col-xs-4
          = f.input :babies, label: false, placeholder: "N° Bebés", input_html: { min: 0 }
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        .col-lg-12.col-md-12.col-sm-6.col-xs-6
          = f.input :checkin, label: false, placeholder: "Check-in", as: :string, input_html: {class: "datepicker", id: "checkin" }
        .col-lg-12.col-md-12.col-sm-6.col-xs-6
          = f.input :checkout, label: false, placeholder: "Check-out", as: :string, input_html: {class: "datepicker", id: "checkout"}
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        = f.input :origin, label: false, placeholder: "Procedencia"
        = f.input :motive, label: false, placeholder: "Motivo"

    .title-form
      %a Tipo de habitación

    .row{style: ""}
      - Room.all.each_with_index do |room, i|
        .room-checks.col-lg-2.col-md-2.col-sm-6.col-xs-6
          = f.simple_fields_for :orders, @reservation.orders.build do |r|
            %a.btn.btn-room{onclick: "quantity(#{room.id})"}
              #image-room{class: "check-#{room.name}", style: "background-image: url(#{room.cover});"}
                = r.input :room_id, label: false, :collection => [[room.name, room.id]], :as => :check_boxes, include_hidden: false, input_html: { name: "reservation[orders_attributes][#{room.id}][room_id]", id: "reservation_orders_attributes_#{room.id}_room_id_#{room.id}"}
              .image-room-mask{id: "mask-#{room.id}"}
                %p
                  = room.name
            .quantity{id: "id-#{room.id}"}
              = r.input :quantity, label:false, placeholder: "Cantidad", input_html: {name: "reservation[orders_attributes][#{room.id}][quantity]"}
            .room-price{id: "price-#{room.id}"}
              = room.price
              Bs
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .box-form
          .title-form{style: "padding-top: 0;"}
            %a Total de reserva
          .content-box#total
            %table
              %tbody
                %tr
                  %td
                    Número de habitaciones:
                  %td#num-rooms
                    0
                %tr
                  %td
                    Precio total (Por noche):
                  %td#price-night
                    0 Bs
                %tr
                  %td
                    Total a pagar:
                  %td#price-total
                    0 Bs
          .content-box{style: "margin-top: 10px;"}
            = f.input :payment, as: :select, include_blank: false, collection: [["Tipo de pago", "0"], ["Tarjeta de crédito","1"], ["Deposito y/o Transferencia", "2"], ["Efectivo","3"]], label: false

      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .box-form
          .title-form{style: "padding-top: 0;"}
            %a Observaciones
          = f.input :observations, label: false, placeholder: 'Observaciones'
          .note
            %span Nota:
            *Los precios que se muestran son para ocupación de una (1) persona en habitación sencilla y (2) dos personas en habitación: estándar, doble y suite de luxe. Se hace recargo por cada persona adicional niño o adulto.*

    .form-actions
      = f.button :submit, "Guardar", class: "btn btn-save", id: "btn-submit" , style: "width: auto;", controller: "reservation", action: "create"

:javascript
  $('#btn-submit').click(function(){
    setTimeout("$('#btn-submit').prop('disabled', 'disabled')", 10);
  });
