= title "Reservaciones | #{@reservation.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Reservation
				= link_to reservation_path(@reservation), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: '¿Está seguro de querer eliminar?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			= link_to reservations_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		
		.panel-body#body-show.order-event-show
			.container
				%table.table.table-bordered
					%tr
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.name")
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.email")
					%tr
						%td{ colspan: '2' }
							= @reservation.client.name
						%td{ colspan: '2' }
							= @reservation.client.email
					%tr
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.documentation")
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.telephone")
					%tr
						%td{ colspan: '2' }
							= @reservation.client.documentation
						%td{ colspan: '2' }
							= @reservation.client.telephone
					%tr
						%th{ colspan: '1' }
							= t("model.#{controller_name.singularize}.attributes.adults")
						%th{ colspan: '1' }
							= t("model.#{controller_name.singularize}.attributes.kids")
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.babies")
					%tr
						%td{ colspan: '1' }
							= @reservation.adults
						%td{ colspan: '1' }
							= (@reservation.kids.blank? or @reservation.kids.zero?) ? "N/A" : @reservation.kids
						%td{ colspan: '2' }
							= (@reservation.babies.blank? or @reservation.babies.zero?) ? "N/A" : @reservation.babies
					%tr
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.origin")
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.motive")
					%tr
						%td{ colspan: '2' }
							= @reservation.origin
						%td{ colspan: '2' }
							= @reservation.motive
					%tr
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.checkin")
						%th{ colspan: '2' }
							= t("model.#{controller_name.singularize}.attributes.checkout")
					%tr
						%td{ colspan: '2' }
							= @reservation.checkin.strftime("%d-%m-%Y")
						%td{ colspan: '2' }
							= @reservation.checkout.strftime("%d-%m-%Y")
					%tr
						%th{ colspan: '4' }
							= t("model.#{controller_name.singularize}.attributes.payment")
					%tr
						%td{ colspan: '4' }
							- if @reservation.payment == 1
								Tarjeta de crédito
							- elsif @reservation.payment == 2
								Depósito o Transferencia
							- else 
								Efectivo
					%tr
						%th{ colspan: '4' }
							= t("model.#{controller_name.singularize}.attributes.observations")
					%tr
						%td{ colspan: '4' }
							= @reservation.observations.blank? ? "N/A" : @reservation.observations
					%tr
						%th{ colspan: '1' } 
							Habitación
						%th{ colspan: '1' } 
							Cantidad
						%th{ colspan: '2' } 
							Precio
					%tr
						- @reservation.orders.each do |item|
							%tr
								%td{ colspan: '1'}
									= item.room.name
								%td{ colspan: '1'}
									= item.quantity
								%td{ colspan: '2'}
									= number_to_currency(item.room.price, precision: 2, format: "%u %n", unit: "Bs.")
					%tr
						%th{ colspan: '3' } 
							Total por noche
						%th.red.lighten-5{ colspan: '1' }
							= number_to_currency(@reservation.total_price_for_night, precision: 2, format: "%u %n", unit: "Bs.")
							
					%tr
						%th{ colspan: '3' } 
							Total por estadía
						%th.blue.lighten-5{ colspan: '1' }
							= number_to_currency(@reservation.price_total, precision: 2, format: "%u %n", unit: "Bs.")

