!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
  %body
    %h2{style: "font-family: 'Lato', sans-serif;"} Tu solicitud ha sido enviada, nos estaremos comunicando contigo.
    %div{style: "font-family: 'Lato', sans-serif;"}
      %div{style: "background:#A7A7A7;padding:10px;"}
        %h1{style: "color:#e2001a;text-align:center;"} Convención Hotel Boutique
      %div{style: "background:#e7e7e7;padding:5px;padding-left:10px;"}
        %h2{style: "color:#e2001a;"} Datos de registro de Reservación
      %div
        %table{border: "1", style: "width:100%;border:1px solid #A7A7A7;border-collapse:collapse;"}
          %tr{style: "background:#A7A7A7;"}
            %th Nombre
            %th Cedula/rif
            %th Email
            %th Teléfono
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.name.humanize
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.documentation
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.email.downcase
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.telephone

          %tr{style: "background:#A7A7A7;"}
            %th N° de Adultos
            %th N° de Niños
            %th N° de bebés
            %th Motivo de Visita
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.adults
            %td{style: "padding-left: 10px;"}
              %center= (@reservacion.kids.blank? or @reservacion.kids.zero?) ? "N/A" : @reservacion.kids
            %td{style: "padding-left: 10px;"}
              %center= (@reservacion.babies.blank? or @reservacion.babies.zero?) ? "N/A" : @reservacion.babies
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.motive

          %tr{style: "background:#A7A7A7;"}
            %th Lugar de Origen
            %th Check-In
            %th Check-Out
            %th Forma de Pago
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.origin
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.checkin.strftime("%d-%m-%Y")
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.checkout.strftime("%d-%m-%Y")
            %td{style: "padding-left: 10px;"}
              %center
                - if @reservacion.payment == 1
                  Tarjeta de crédito
                - elsif @reservacion.payment == 2
                  Depósito o Transferencia
                - else
                  Efectivo
          %tr{style: "background:#A7A7A7;"}
            %th{ colspan: '4' , style: "background:#A7A7A7;"} Observaciones
          %tr
            %td{ colspan: '4', style: "text-align: center;" }
              = @reservacion.observations.blank? ? "N/A" : @reservacion.observations

          %tr{style: "background:#A7A7A7;"}
            %th{ colspan: '2' }
              Habitación
            %th{ colspan: '1' }
              Cantidad
            %th{ colspan: '1' }
              Precio
          %tr
            - @reservacion.orders.each do |item|
              %tr
                %td{ colspan: '2'}
                  %center= item.room.name
                %td{ colspan: '1'}
                  %center= item.quantity
                %td{ colspan: '1'}
                  %center= number_to_currency(item.room.price, precision: 2, format: "%u %n", unit: "Bs.")
          %tr
            %th{ colspan: '3', style: "background:#A7A7A7;"}
              %center Total por noche
            %th{ colspan: '1' }
              %center= number_to_currency(@reservacion.total_price_for_night, precision: 2, format: "%u %n", unit: "Bs.")

          %tr{style: "background:#A7A7A7;"}
            %th{ colspan: '3' }
              %center Total por estadía (sin personas adicionales).
            %th{ colspan: '1' }
              %center= number_to_currency(@reservacion.price_total, precision: 2, format: "%u %n", unit: "Bs.")


    %div{style: "font-family: 'Lato', sans-serif; font-size: 14px;"}
      %p
        %br
        %strong Nota:
        %br
        %strong Los precios que se muestran son para ocupación de una (1) persona en habitación sencilla y (2) dos personas en habitación: estándar, doble y suite de luxe. Se hace recargo por cada persona adicional niño o adulto.
      %p
        Beneficios:
        %ul
          %li Acceso a Internet a través de red inalámbrica en la habitación y demás áreas del hotel.
          %li Desayuno incluido.
          %li Estacionamiento privado.
          %li Servicio de Concierge (Servicio personalizado para los requerimientos de nuestros huéspedes).
          %li Ubicación estratégica.

      %p
        Políticas de Reserva:
        %ul
          %li Garantías: si usted desea garantizar su reserva, puede hacerlo a través de los siguientes medios:

          %li
            Un depósito en efectivo o transferencia electrónica (NO SE ACEPTAN DEPÓSITOS EN CHEQUES): a nuestra cuenta corriente por el 100% del monto total de la reserva, enviando posteriormente a nuestro correo electrónico el soporte correspondiente y los datos concernientes al titular de la cuenta de la cual realizó tal operación; por último, es importante si está al alcance de sus posibilidades nos proporcionen la cédula de identidad ya sea en foto o escaneada.

            %br Dicho pago debe ser realizado en un plazo no mayor a 48 horas a partir de la recepción ​de la cotización formal por parte del departamento de reservas del hotel, de lo contrario nuestro sistema anulará automáticamente la reserva realizada. Igualmente si es de su preferencia, puede acercarse directamente a nuestras instalaciones ubicadas en la Avenida Alberto Carnevalli entrada a la Hechicera, Edificio Hotel Convención Boutique.

          %li
            Anulaciones: Las reservaciones con garantía de pago, se podrán anular por escrito hasta 48 horas antes de la llegada del huésped, de lo contrario serán consideradas como "No Show" y cobradas del pago realizado.

            %br Por otro lado, si la persona desea el reembolso del dinero y ha manifestado la anulación de la reserva en el lapso antes mencionado, debe tener presente que dicha transacción genera un gasto administrativo. En caso de anulación de reserva en fechas de temporada alta, no hay devolución del dinero.

          %li Las habitaciones reservadas que NO estén garantizadas con tarjeta de crédito, o depósito, podrían ser anuladas después de la 6:00 p.m. del día de llegada, en el caso que el hotel requiera disponer de dichas habitaciones.

          %li Check-In y Check-Out: El horario de check-in es a partir de las 3:00 p.m. El check-out se realizará hasta las 13:00 horas, en caso de ser necesario un late check-out se cobrará un recargo, según las políticas del hotel, hasta las 16:00 horas, después de este horario se hará un recargo del 100% de la tarifa, previa autorización de la Gerencia de Recepción.

      %p Sin más que agregar por los momentos y quedando a sus órdenes para cualquier información adicional, a través de nuestro Ejecutivo de Comercialización o Reservas.

      %p
        %ul
          %li{ style: 'display: block;'} Día hotelero: Lapso comprendido entre la hora de registro del huésped en el establecimiento de alojamiento turístico y la una (1) de la tarde del día siguiente.
          %li{ style: 'display: block;'}  El Hotel: Hotel Convención Boutique, Es una empresa dedicada al servicio de alojamiento, ubicada en Mérida, Edo. Mérida. Con servicios adicionales de Alimentos y Bebidas.
          %li{ style: 'display: block;'}  El Huésped: Es la persona que ha contratado los servicios del Hotel Convención Boutique.

      %p
        %ul
          %li{ style: 'display: block;'} 1. El huésped conoce, ha firmado y aceptado en su totalidad el contrato de hospedaje contenido en la tarjeta de registro.
          %li{ style: 'display: block;'} 2. Es indispensable que el Huésped porte la identidad que será expedida por el servicio de recepción, para poder tener acceso a las habitaciones y demás áreas del establecimiento.
          %li{ style: 'display: block;'} 3. El establecimiento se reserva el derecho de admisión.
          %li{ style: 'display: block;'} 4. El Hotel se reserva el derecho de exigir a sus clientes un depósito por persona. Cuando se exige, debe pagarse en el momento del check in en efectivo o mediante el bloqueo de la tarjeta de Crédito. El depósito se devolverá al cliente al momento de efectuarse el check-out; dado el caso, previa deducción de los cargos correspondientes.
          %li{ style: 'display: block;'} 5. "Este es un Ambiente 100% Libre de Humo de Tabaco", según GACETA OFICIAL No 39.627, 02 DE MARZO DE 2011. El huésped expresamente conviene en que el incumplimiento de la presente disposición hará nacer el derecho del Hotel a cobrar al huésped una indemnización por los daños y perjuicios causados, los cuales en principio se limitan a los costos asociados a la limpieza profunda de las áreas que se vean afectada con motivo del humo del cigarrillo, tabaco, pipa, entre otros. Para el caso en el cual se detecte que el huésped ha fumado en las instalaciones del Hotel, las partes expresamente convienen en que el monto de la indemnización arriba referida será equivalente al cien por ciento (100%) de la tarifa rack cobrada por el Hotel para el uso de la habitación correspondiente.
          %li{ style: 'display: block;'} 6. El Hotel no permite el uso de artefactos eléctricos, así como de equipajes y utensilios personales que por cualquier causa puedan dañar las instalaciones.
          %li{ style: 'display: block;'} 7. El uso de la caja de seguridad de la habitación es gratuito.
          %li{ style: 'display: block;'} 8. Los menores de 18 años en todo momento deberán estar bajo la supervisión de un adulto.
          %li{ style: 'display: block;'} 9. El Hotel no se hace responsable de cualquier prenda de valor que se extravíe en las habitaciones o las áreas comunes del Hotel.
          %li{ style: 'display: block;'} 10. Robos o daños intencionados serán notificados al huésped y denunciados ante las autoridades competentes en el menor tiempo posible.
          %li{ style: 'display: block;'} 11. El acceso a las escaleras de emergencia sólo está permitido en caso de incendio; si por cualquier circunstancia el acceso a las escaleras de emergencia se encuentra bloqueado, use las otras vías de escape indicadas en los planos de evacuación. Si estas vías no fueran tampoco accesibles, quédese en la habitación y cierre la puerta (no con seguro). Hágase notar desde la ventana abierta.
          %li{ style: 'display: block;'} 12. El cliente se encuentra obligado a pagar por todos los días de alojamiento fijados en la reserva.
          %li{ style: 'display: block;'} 13. El Hotel se reserva el derecho de no permitir la entrada de alimentos y/o bebidas a las habitaciones si no son suministradas por el servicio de restaurante del Hotel.
          %li{ style: 'display: block;'} 14. Está prohibido el acceso y permanencia de animales en las instalaciones del Hotel.
          %li{ style: 'display: block;'} 15. El huésped está obligado a mantener dentro de las instalaciones del Hotel una conducta acorde a las normas de convivencia.
          %li{ style: 'display: block;'} 16. No se permiten en las habitaciones acompañantes que no estén debidamente registrados en la recepción.
          %li{ style: 'display: block;'} 17. Está prohibido tocar instrumentos musicales, radiotransmisores, reproductores de imágenes o sonidos, en volúmenes que afecten la tranquilidad del resto de los huéspedes.
          %li{ style: 'display: block;'} 18. El uso del estacionamiento es gratuito, el Hotel no se hace responsable por los vehículos u objetos dejados en él. Adicionalmente estará bajo las condiciones establecidas en el contrato de hospedaje y normas publicadas.
          %li{ style: 'display: block;'} 19. No se permite colgar prendas de vestir o toallas en las ventanas de las habitaciones o en cualquier otra área distinta a las diseñadas para tales fines.
          %li{ style: 'display: block;'} 20. No se permite el acceso al Lobby, Restaurante y demás áreas sociales del establecimiento sin camisa, en camisas sin mangas, sin calzado.
          %li{ style: 'display: block;'} 21. El día y hora de la salida están indicadas en la tarjeta de registro. En caso de que la salida sea a una hora posterior a la refería como día hotelero (late check out según disponibilidad), se hará un cargo adicional a la cuenta del Huésped, el cual debe ser pagado antes de la 11am del día de su salida.
          %li{ style: 'display: block;'} 22. El Huésped y sus acompañantes exoneran al Hotel, sus representantes, accionistas y empleados de cualquier responsabilidad en caso de daños causados a su persona o bienes.
          %li{ style: 'display: block;'} 23. La perdida, extravío, deterioro o daño de enseres propios de la habitación o del establecimiento, generará un cargo al Huésped por el valor de su reposición. Pagos de este tipo se realizan inmediatamente. Quedando autorizado el Hotel a efectuar los descuentos correspondientes del depósito constituido.
          %li{ style: 'display: block;'} 24. El Huésped se compromete al cumplimiento del reglamento interno del establecimiento y de todas sus disposiciones vigentes.
          %li{ style: 'display: block;'} 25. El incumplimiento por el Huésped o de sus acompañantes de cualquiera de estas normas y otras publicadas, darán derecho al establecimiento a la resolución del contrato de hospedaje unilateralmente y, si diera lugar, el establecimiento podrá exigir el pago de los daños causados.
