.footer
	.socials-row
		.social-icons
			.icon
				= link_to "https://www.facebook.com/convencionhb/" do
					%i.fa.fa-facebook
			.icon
				= link_to "https://twitter.com/convencionhb" do
					%i.fa.fa-twitter
			.icon
				= link_to "https://www.instagram.com/convencionhb" do
					%i.fa.fa-instagram
			.icon
				= link_to "https://www.pinterest.com/convencionhb/hotel-convenci%C3%B3n-boutique/" do
					%i.fa.fa-pinterest
			.icon
				= link_to "https://www.tripadvisor.com.ve/Hotel_Review-g316050-d7710858-Reviews-Convencion_Hotel_Boutique-Merida_Andean_Region.html" do
					%i.fa.fa-tripadvisor
	.contacts
		%span reservas@convencionhb.com / eventos@convencionhb.com
		%span (+58 414) 702 3988 / (+58 274 ) 240 5311
	.rights
		OPERADORA TURÍSTICA HOTEL CONVENCIÓN BOUTIQUE C.A. RIF: J-402890923 COPYRIGHT 2015
	.slice
		POWERED BY
		= link_to "http://www.slicegroup.xyz" do
			= image_tag 'frontend/slicegroup.png'
