%nav.navbar.navbar-default.navbar-fixed-top#front-navbar{style: "height: 380px; top: -300px;"}

	#map

	%a.pull-right#location{onclick: "Map()"}
		LOCALIZACIÓN

	.container{style: "padding: 0px; "}
		.navbar-header
			%button.btn.btn-default.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				.center-h
					.center-v
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
			.navbar-brand.pull-left
				= link_to "/" do
					= image_tag "frontend/Landing/logo.png"
		- if root_path?
			.collapse.navbar-collapse
				%ul.nav.navbar-nav.pull-right
					%li.links#link-home{ onclick: "scrollToAnchor('home')"}
						%a INICIO
					%li.links#link-about{ onclick: "scrollToAnchor('about')"}
						%a EL HOTEL
					%li.links#link-rooms{ onclick: "scrollToAnchor('rooms')"}
						%a HABITACIONES
					%li.links{class: " #{ 'current' if action_name == 'restaurants' } "}
						= link_to restaurants_path, class: "external" do
							RESTAURANTES
					%li.links#link-contacts{ onclick: "scrollToAnchor('contacts')"}
						%a CONTACTO
					%li.links{class: " #{ 'current' if controller_name == 'reservations' } "}
						= link_to new_reservation_path, class: "external" do
							RESERVA
					%li.links{class: " #{ 'current' if controller_name == 'events' } "}
						= link_to new_event_path, class: "external" do
							EVENTOS
		-else
			.collapse.navbar-collapse
				%ul.nav.navbar-nav.pull-right
					%li.links
						= link_to root_path(anchor: "home"), class: "external" do
							INICIO
					%li.links
						= link_to root_path(anchor: "about"), class: "external" do
							EL HOTEL
					%li.links{class: " #{ 'current' if action_name == 'rooms' } "}
						= link_to root_path(anchor: "rooms"), class: "external" do
							HABITACIONES
					%li.links{class: " #{ 'current' if action_name == 'restaurants' } "}
						= link_to restaurants_path, class: "external" do
							RESTAURANTES
					%li.links
						= link_to root_path(anchor: "contacts"), class: "external" do
							CONTACTO
					%li.links{class: " #{ 'current' if controller_name == 'reservations' } "}
						= link_to new_reservation_path, class: "external" do
							RESERVA
					%li.links{class: " #{ 'current' if controller_name == 'events' } "}
						= link_to new_event_path, class: "external" do
							EVENTOS