= title("Rooms - Listado")
.listing.col.l9.m12.s12
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |room|
				= render 'listing', room: room
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							No se han encontrado Habitaciones.
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

