#about{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	font-family: 'Lato', sans-serif;
	@media #{$phone}{
		display: inline-block;
	}
	@media #{$phone-landscape}{
		display: inline-block;
	}
	@media #{$tablet}{
		display: inline-block;
	}
}

$sections: (("about") , ("encuentro") , ("lesGolfes"));

@each $section in $sections {
	.#{$section}-images{
		width: 50%;
		display: inline-table;
		position: relative;
		.image{
			width: 100%;
			height: 350px;
			display: flex;

			@media #{$phone} {
    		height: 150px;
			}
			@media #{$phone-landscape} {
    		height: 150px;
			}
			@media #{$tablet} {
    		height: 250px;
			}

			@for $i from 1 through 4 {
				#image-#{$section}-#{$i} { 
					background: image-url("frontend/Landing/#{$section}#{$i}.jpg") no-repeat;
					background-size: cover;
					background-position: 50%;
					width: 50%;
					height: 100%;
					display: inline-block;
				}
			}
		}

		@media #{$phone}{
			width: 100%;
		}
		@media #{$phone-landscape}{
			width: 100%;
		}
		@media #{$tablet}{
			width: 100%;
		}
	}
	.hide-on-responsive{
		display: inline-table;
		@media #{$phone}{
			display: none;
		}
		@media #{$phone-landscape}{
			display: none;
		}
		@media #{$tablet}{
			display: none;
		}
	}
	.show-on-responsive{
		display: none;
		.image{
			height: 150px;
			@media #{$tablet}{
				height: 250px;
			}
		}
		@media #{$phone}{
			display: inline-table;
		}
		@media #{$phone-landscape}{
			display: inline-table;
		}
		@media #{$tablet}{
			display: inline-table;
		}
	}
}



.box-text{
	width: 50%;
	display: inline-block;
	padding: 50px 60px;
	@media #{$phone}{
		width: 100%;
		padding: 30px 35px;
	}
	@media #{$phone-landscape}{
		width: 100%;
		padding: 30px 35px;
	}
	@media #{$tablet}{
		width: 100%;
	}
}

.title-section{
	width: 300px;
	margin-bottom: 30px;
	a{
		color: #58554e;
    font-size: 40px;
    border-bottom: 4px solid #e2001a;
    font-weight: 400;
    font-style: italic;
    padding-right: 20px;
    text-decoration: none;

    @media #{$phone} {
    	font-size: 35px;
    }
	}

	@media #{$phone} {
		width: 100% !important;
	}
}
.text-section{
	color: black;
	font-weight: 400;
	span{
		color: #e2001a;
		font-weight: 900;
		a{
			color: #e2001a;
		}
		a:hover{
			background: transparent;
			color: #e2001a;
		}
	}
	li{
		display: block;
		margin-top: 30px;
		a{
			padding: 15px 50px;
			border: 3px solid #e2001a;
			color: black;
			font-weight: 700;
			text-decoration: none;
			@include transition (0.5s);
		}
	}
	a:hover{
		color: white;
		background: #e2001a;
	}
}
