.footer{
	background-color: #000000;
	padding: 50px 30px 50px 30px;
	font-family: 'Lato', sans-serif;
	position: relative;
	@media #{$phone}{
		padding: 40px 30px 70px 30px;
	}
	@media #{$phone-landscape}{
		padding: 50px 30px 60px 30px;
	}
	@media #{$tablet}{
		padding: 40px 30px 70px 30px;
	}
	.contacts {
		color: white;
    text-align: center;
    margin-bottom: 15px;
    span {
    	display: block;
    	@media #{$phone}{
    		font-size: 12px;
    	}
    	@media #{$phone-landscape}{
    		font-size: 12px;
    	}
    }
	}
	.socials-row{
		width: 100%;
		display: flex;
		justify-content: center;
		.social-icons{
			border-bottom: 3px solid white;
			padding: 0 30px 15px;
			margin-bottom: 15px;
			width: 500px;
			display: flex;
			justify-content: center;
			.icon{
				display: inline-block;
				background-color: white;
				padding: 7px;
				text-align: center;
				margin-right: 5px;
				border: 2px solid white;
				height: 50px;
				@media #{$phone}{
					height: 43px;
				}
				@include transition (0.5s);
				i{
					font-size: 30px;
					color: #000000;
					width: 40px;
					@include transition (0.5s);
					@media #{$phone} {
						font-size: 25px;
    				width: 30px;
					}
				}
			}
			.icon:hover{
				background-color: #000000;
				i{
					color: white;
				}
			}

		}
	}

	.rights, .slice{
		color: white;
		font-size: 10px;
		font-weight: 700;
		display: inline;
		@media #{$phone}{
			display: block;
			margin-bottom: 20px;
		}
		@media #{$tablet}{
			display: block;
			margin-bottom: 20px;
		}
	}
	.slice{
		position: absolute;
		right: 0;
		bottom: 35px;
		img{
			width: 70px;
			margin-left: 5px;
			margin-right: 30px;
			display: inline;
		}
		@media #{$phone}{
			position: relative;
			float: right;
			bottom: 0;
			right: 0;
		}
		@media#{$phone-landscape} {
			bottom: 10px;
		}
		@media #{$tablet}{
			position: relative;
			float: right;
			bottom: 0;
			right: 0;
		}
	}
}
