#form-reservation{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;

  .error {
    input {
      background-color: #F54747;
    }
    .help-inline {
      display: none;
    }
  }

  .form-alert {
    background-color: #FFFFFF;
    border-color: #E28785;
    border-radius: 0px;
    color: #EF1511;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    position: fixed;
    right: 20px;
    top: 100px;
    z-index: 10;
    p {
      font-weight: 500;
    }
  }

  @media #{$tablet}{
    width: 90%;
    margin-left: 5%;
  }
  @media #{$tablet-portrait}{
    width: 90%;
    margin-left: 5%;
  }
  @media #{$phone}{
    width: 90%;
    margin-left: 5%;
  }
  @media #{$phone-landscape}{
    width: 90%;
    margin-left: 5%;
  }

  input {
    width: 100%;
    padding: 10px;
    background-color: #D4D4D4;;
    color: black;
    border: 13px solid white;
    border-radius: 0;
  }
  input::-webkit-input-placeholder{
    color: #2b2b2b;
  }
  textarea{
    padding: 10px;
    background-color: #D4D4D4;
    color: black;
    width: 100%;
    border: none;
    margin-bottom: 10px;
  }
  #textarea-6{
    width: 95%;
    height: 100px;
  }
  textarea::-webkit-input-placeholder{
    color: #2b2b2b;
  }

  .select_time{
    border: 14px solid white;
    background: #D4D4D4;
    width: 100%;
    padding: 10px;
  }

  .select{
    border: none;
    background: #D4D4D4;
    width: 100%;
    padding: 10px;
  }
  .btn-save{
    font-weight: 700;
    border: none;
    background: white;
    border: 3px solid #e2001a;
    color: black;
    padding: 10px 50px;
    font-size: 15px;
    text-decoration: none;
    margin-left: 10px;
    @include transition (0.5s);
  }
  .btn-save:hover{
    color: white;
    background: #e2001a;
  }
  .row{
    margin: 0;
    padding: 0;
  }

  @for $i from 1 through 12 {
    .col-lg-#{$i}, .col-md-#{$i}, .col-sm-#{$i}, .col-xs-#{$i} {
      margin: 0;
      padding: 0;
    }
  }
}

.title-form{
  text-align: left;
  margin-bottom: 30px;
  padding-top: 30px;
  a{
    font-size: 25px;
    color: #58554e;
    border-bottom: 4px solid #e2001a;
    text-decoration: none;
    padding-bottom: 5px;
    padding-right: 20px;
    font-style: italic;
  }
}
.box-form{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
  margin-top: 20px;
  .note {
    font-size: 12px;
    margin-bottom: 15px;
    span {
      display: block;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
.title-box{
  background-color: rgb(104, 196, 234);
  padding: 10px;
  font-weight: bold;
}
.content-box{
  background-color: #D4D4D4;
}
#total{
  padding: 20px;
  td{
    width: 50% !important;
  }
}

.room-checks{
  height: auto;
  background-color: transparent !important;
  @media #{$phone}{
    margin-bottom: 10px !important;
  }
  @media #{$tablet}{
    margin-bottom: 10px !important;
  }
}
.form-actions{
  text-align: center;
}

#image-room{
  height: 212px;
  background-size: cover;
  height: 170px;
  width: 100%;
  position: relative;
  top: -9px;
  z-index: 9;
  label{
    display: none;
  }
  input[type=checkbox]{
    display: block;
  }
}
.btn-room{
  border-radius: 0px;
  padding: 0px;
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: $font-type;
  font-size: 18px;
  font-weight: 400;
  border: none !important;
  .image-room-mask{
    background: rgba(255,255,255,0.4);
    height: 170px;
    width: 100%;
    position: relative;
    top: -179px;
    padding-top: 79px;
    z-index: 9;
    p{
      font-size: 14px;
      font-weight: bold;
      color: black;
    }
  }
  .red{
    background: rgba(226,0,26,0.45);
    p{
      color: white;
    }
  }
}
.quantity{
  input{
    position: relative;
    top: -10px;
    opacity: 0;
    border: none !important;
    background: #e2001a !important;
    width: 100%;
    padding: 10px;
  }
   input::-webkit-input-placeholder{
    color: black !important;
   }

}
.room-price{
  width: 100%;
  padding: 10px;
  background-color: #D4D4D4;
  color: black;
  text-align: center;
  position: relative;
  top: -30px;
}

#num-rooms, #price-night, #price-total{
  text-align: right;
  font-weight: bold;
}

input[type=radio] {
  display:none;
}

input[type=checkbox] {
  float: left;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  width: 20px !important;
  height: 20px;
  background-color: white
}

.btn-check, .btn-montaje{
  border-radius: 0px;
  padding: 6px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #D4D4D4;


  p {
    padding-top: 10px;
    margin-bottom: 0px;
    color: black;
  }
}
.btn-montaje{
  max-width: 300px;
}


.btn-check{
  background: white;
  margin-bottom: 0px;
  margin-top: 0px;
  border-left: 3px solid #E2001A;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  text-align: left;

  p {
    label{
      font-weight: 400;
      font-size: 15px;
    }
  }
}

.btn-group{
  .active {
    background: rgba(226,0,26,0.3);
    border: 3px solid rgb(226,0,26);
  }
}

.btn-group {
  width: 100%;
}

#image-montaje-1 {
  background: image-url("frontend/icons/montaje-01.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}

#image-montaje-2 {
  background: image-url("frontend/icons/montaje-02.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-3 {
  background: image-url("frontend/icons/montaje-03.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-4 {
  background: image-url("frontend/icons/montaje-04.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-5 {
  background: image-url("frontend/icons/montaje-05.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-6 {
  background: image-url("frontend/icons/montaje-06.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
