// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, main{
	height: 100%;
	font-family: "Roboto", sans-serif;
}

.front{
	.front-container{
		height: 100%;
		.front-logo-horizontal{
			display: flex;
			justify-content: center;
			height: 100%;
			.front-logo-vertical{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

.separator{
	margin-bottom: 20px;
	color: black;
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	width: auto;
		
	@media #{$phone}{
		width: 90%;
		margin-left: 5%;
	}
	@media #{$tablet-portrait}{
		width: 90%;
		margin-left: 5%;
	}
}

