#home{
	height: 100%;
	position: relative;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
}

.home-container{
	height: auto;
	position: absolute;
	bottom: 50px;
	text-align: center;
	justify-content: center;
	width: 100%;

	@media #{$phone}{
		bottom: 10px;
	}
}

.alert{
	position: absolute;
	top: 5%;
	right: 3%;
	.close{
		right: -35px;
		top: 10px;
		font-size: 40px;
	}
}
.alert-success {
	background-color: #CCF7BA;
	border-color: #B8DDA8;
	color: #059608;
}
.home-carousel{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 0;
	@media #{$phone}{
		width: 96%;
		margin-left: 2%;
  }
	@media #{$tablet}{
		width: 90%;
		margin-left: 5%;
  }
}
.home-text{
	color: black;
	padding: 10px;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	background-color: white;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,0) 99%, rgba(237,237,237,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(246,246,246,1)), color-stop(99%, rgba(237,237,237,0)), color-stop(100%, rgba(237,237,237,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,0) 99%, rgba(237,237,237,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,0) 99%, rgba(237,237,237,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,0) 99%, rgba(237,237,237,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,0) 99%, rgba(237,237,237,0) 100%);
	@media #{$phone}{		padding: 10px;
		font-size: 20px;
  }
	@media #{$tablet}{
		padding: 20px;
		font-size: 30px;
  }
}
.form-container{
	width: 100%;
	text-align: center;
	justify-content: center;
	display: flex;
}
.reservation-box {
  padding: 10px;
  position: relative;
  width: 500px;
  margin-top: 30px;
  background: black;

  @media #{$tablet}{
  }
  @media #{$tablet-portrait}{
  }
  @media #{$phone}{
  	margin-top: 10px;
  }
  @media #{$phone-landscape}{
  }

}
.input-about {
  margin: 0;
  background: silver;
  padding-right: 5px;
  padding-left: 5px;
  width: 100%;
  color: black;
  border: 10px solid #545454;
}
.btn-reservation {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  border: none;
  background: #e2001a;
  color: white;
  padding: 11px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  border: 2px solid #e2001a;
  @include transition (0.5s);
  @media #{$phone}{
		margin-top: 10px;
		margin-left: 0;
	}
	@media #{$phone-landscape}{
		margin-top: 10px;
		margin-left: 0;
	}
}
.btn-reservation:hover{
	background: transparent;
}
.input-about i {
  display: inline;
  color: black;
}
.input-about input {
  padding: 3px;
  border: none;
  width: 80%;
  background-color: silver;
}
.input-about input::-webkit-input-placeholder{
	color: black;
}
.col-btn{
	margin: 0;
	padding: 0;
	padding-right: 10px;
	@media #{$phone}{
		padding-right: 0;
  }
}
.video{
	position: absolute;
	min-width: 100%; min-height: 100%;
	width: 100%; height: 100%; z-index: -100;
	background-size: cover;
	overflow: hidden;
	video{
		width: 100%;
	}
}
.background-home {
  width: 100%;
  height: 100%;
  z-index: -100;
  background: image-url("frontend/Landing/Cartelera-2.jpg") no-repeat;
  background-size: 164% 100%;
  background-position: 39% 50%;
}