
.navbar-nav{
  padding-right: 30px;
  @media #{$phone}{
    padding-right: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @media #{$phone-landscape}{
    padding-right: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.navbar-brand{
  padding-top: 0;
  top: 300px;
  position: relative;
}
#location{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  padding-top: 10px;
  margin-right: 30px;
  cursor: pointer;
}

#map{
  height: 300px;
}

.navbar-collapse{
  @media #{$phone}{
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 40px;
    border: none;
    margin: 0;
  }
  @media #{$phone-landscape}{
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 40px;
    border: none;
    margin: 0;
  }
}
.navbar-collapse[aria-expanded="true"]{
  position: relative;
  top: 40px;
  border: none;
  margin: 0;
}
.container{
  width: 100%;
}
.navbar-toggle{
  margin-top: 320px;
  position: absolute;
  right: 50px;
}

.navbar-default{
  width: 100%;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  height: 80px;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0,0,0,0.75);
  @media #{$phone}{
    background-color: rgba(0,0,0,0.9);
  }
  @media #{$phone-landscape}{
    background-color: rgba(0,0,0,0.9);
  }
  a{
    color:white;
    font-weight: 900;
  }
  .container{
    display: inline-block;
    .links{
      cursor: pointer;
      padding: 10px;
      @include transition (0.5s);
      a{
        color: white !important;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        @include transition (0.5s);
      }
    }

    .logo-nav{
      cursor: pointer;
      a{
        padding: 20px;
        height: 80px;
      }
    }
  }
  .navbar-header{
    position: absolute;
    left: 35px;
    top: 15px;
    z-index: 1000;
    width: 100%;
  }

  .current, li:hover{
    a{
      border-bottom: 3px solid #e2001a !important;
    }
    @media #{$phone}{
      background-color: #e2001a;
      a{
       border-bottom: 3px solid transparent !important; 
      }
    }
    @media #{$phone-landscape}{
      background-color: #e2001a;
      a{
       border-bottom: 3px solid transparent !important; 
      }
    }
  }
}
