#restaurants{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	font-family: 'Lato', sans-serif;
	@media #{$phone}{
		display: inline-block;
	}
	@media #{$phone-landscape}{
		display: inline-block;
	}
	@media #{$tablet}{
		display: inline-block;
	}

  .title-section{
    width: 60%;

		@media #{$phone} {
			width: 100%;
		}
		@media #{$phone-landscape} {
			width: 80%;
		}
  }

  #lesGolfes{
  	height: 250px;
  	margin-top: 50px;
  	@media #{$phone}{
			height: 170px;
		}
		@media #{$phone-landscape}{
			height: 170px;
		}
		@media #{$tablet}{
			height: 200px;
		}
  }

  #encuentro{
  	height: 100px;
  	margin-top: 50px;
  	@media #{$phone}{
			height: 50px;
		}
		@media #{$phone-landscape}{
			height: 70px;
			margin-top: 30px;
		}
		@media #{$tablet}{
			height: 80px;
		}
  }

}