#rooms{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  font-family: 'Lato', sans-serif;
  @media #{$phone}{
    display: inline-block;
  }
  @media #{$phone-landscape}{
    display: inline-block;
  }
  @media #{$tablet}{
    display: inline-block;
  }

  .rooms-gallery{
    margin: 0;
    padding: 0;
    width: 50%;
    display: table;
    position: relative;
    @media #{$phone}{
      width: 100%;
    }
    @media #{$phone-landscape}{
      width: 100%;
    }
    @media #{$tablet}{
      width: 100%;
    }

    .content-room{
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      position: relative; 
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 300px;
      display: flex;

      @media #{$phone} {
        height: 200px;
      }
      @media #{$phone-landscape} {
        height: 200px;
      }

      li{
        width: 100%;
        background: transparent;
        display: inline;
        margin-top: 15px;
      }
      a{
        color: white;
        font-size: 16px;
        position: relative;
        padding: 7px 10px;
        border: 3px solid #e2001a;
        color: white;
        font-weight: 700;
        text-decoration: none;
        @include transition (0.5s);
      }
      a:hover{
        background: #e2001a;
      }
    }

    .mask-rooms{
      display: flex;
      justify-content: center;
      height: 300px;
      width: 100%;
      background: rgba(0,0,0,0.65);
      visibility:hidden;
      opacity:0;
      @include transition (0.5s);
      @media #{$phone}{
        visibility:visible;
        opacity: 1;
        height: 200px;
      }
      @media #{$phone-landscape}{
        visibility:visible;
        opacity: 1;
        height: 200px;
      }
      @media #{$tablet}{
        visibility:visible;
        opacity: 1;
      }
      @media #{$tablet-portrait}{
        visibility:visible;
        opacity: 1;
      }

    }

    .col-room{
      position: relative;
      margin: 0;
      padding: 0;
      height: 300px;
      width: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: inline-flex;
      display: -moz-grid;
      @media #{$phone}{
        width: 100%;
        height: 200px;
      }
      @media #{$phone-landscape}{
        width: 100%;
        height: 200px;
      }
    }
    
    @for $i from 1 through 4 {
      #col-room-#{$i}:hover { 
        #room-#{$i}{
          visibility:visible;
          opacity: 1;
        }
      }
    }
  }

  .title-section{
    width: 80%;
  }
}

#banner-room{
  background: image-url('frontend/Reserva/background-rooms.JPG') no-repeat;
  background-size: cover;
  background-position: 50%;
}
#banner-reserva{
  background: image-url('frontend/Reserva/background-reservas.png') no-repeat;
  background-size: cover;
  background-position: 50%;
}
#banner-events{
  background: image-url('frontend/Reserva/background-eventos.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
}
.banner{
  height: 350px;
  width: 100%;
  @media #{$phone} {
    height: 250px;
  }
  @media #{$phone-landscape} {
    height: 250px;
  }
}
.room-container{
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  .room-info{
    width: 80%;
    display: flex;
    @media #{$phone}{
      display: inline-block;
    }
    @media #{$phone-landscape}{
      display: inline-block;
    }
    @media #{$tablet}{
      display: inline-block;
    }
    .room-gallery{
      width: 50%;
      display: inline-block;

      @media #{$phone}{
        width: 100%;
      }
      @media #{$phone-landscape}{
        width: 70%;
      }
      @media #{$tablet}{
        width: 85%;
      }
      .room-carousel{
        width: 100%;
        .room-img{
          img{}
        }
      }

    }

    .room-details{
      width: 50%;
      display: inline-block;
      padding: 0px 50px 0px 50px;
      text-align: left;
      font-family: 'Lato', sans-serif;
      @media #{$phone}{
        width: 100%;
        padding:0;
      }
      @media #{$phone-landscape}{
        width: 100%;
        padding:0;
      }
      @media #{$tablet}{
        width: 100%;
      }
      .room-name{
        margin-bottom: 30px;
        font-size: 30px;
        a, a:hover{
          padding-right: 20px;
          color: #58554e;
          text-decoration: none;
          border-bottom: 3px solid #e2001a;
          background: none;
          font-style: italic;
        }
      }
      .room-description{
        margin-bottom: 30px;
        p{
          margin-bottom: 5px;
        }
      }
      .roomPrice{
        font-size: 25px;
        font-style: italic;
        color: #58554e;
        margin-bottom: 50px;
      }
      li{
        display: block;
        margin-top: 30px;
        a{
          padding: 15px 50px;
          border: 3px solid #e2001a;
          color: black;
          font-weight: 700;
          text-decoration: none;
          @include transition (0.5s);
        }
      }
      a:hover{
        color: white;
        background: #e2001a;
      }
    }
  }
}

.rooms-collapse.collapse.in{
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 1;
}
.other-rooms{
  .more{
    width: 100%;
    background: #E2001A;
    border: 3px solid #E2001A;
    border-radius: 0;
    @include transition (0.5s);
    a{
      color: white;
      font-size: 16px;
      font-weight: 900;
      font-style: italic;
      text-decoration: none;
    }
  }
  .more:hover{
    background: white;
    a{
      color: #585553;
    }
  }
  .rooms-collapse{
    width: 100%;
    opacity: 0;
    .other-rooms-carousel{
      width: 60%;
      height: 250px;
      margin-top: 30px;
      @media #{$phone}{
        width: 80%;
      }
      @media #{$tablet}{
        width: 80%;
      }
      .mask-rooms{
        display: flex;
        justify-content: center;
        height: 250px;
        width: 100%;
        background: rgba(0,0,0,0.65);
        @include transition (0.5s);
        @media #{$phone}{
          visibility:visible;
          opacity: 1;
        }

      }

      .col-room{
        position: relative;
        margin: 0;
        padding: 0;
        height: 250px;
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @media #{$phone}{
          width: 100%;
        }
      }
      .content-room{
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        position: relative; 
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 250px;
        display: flex;
        li{
          width: 100%;
          background: transparent;
          display: inline;
          margin-top: 15px;
        }
        a{
          color: white;
          font-size: 16px;
          position: relative;
          padding: 7px 10px;
          border: 3px solid #e2001a;
          color: white;
          font-weight: 700;
          text-decoration: none;
          @include transition (0.5s);
        }
        a:hover{
          background: #e2001a;
        }
      }
    }
  }
}
.slick-prev, .slick-next, .slick-prev:before, .slick-next:before{
  color: #E2001A;
  width: 30px;
  height: 30px;
}
.slick-prev:before, .slick-next:before{
  font-size: 25px;
}

.slick-prev {
  left: -30px;
}
.slick-next {
  right: -30px;
}
.other-rooms-carousel {
   background: image-url('frontend/loader.gif') no-repeat center;
   width: 100%;
   .col-room{
     display: none;
   }
}.slick-slider .slick-list { 
   opacity: 0; 
   position: absolute; 
}.slick-slider.slick-initialized {
   background: none;
   outline: none;
   .col-room{
    display: inline-flex;
    display: -moz-grid;
   }
}.slick-slider.slick-initialized .slick-list { 
   opacity: 1;
   position: relative;
   transition: opacity 0.2s ease-in;
}